*
{
    margin: 0;
    padding: 0;
}

html
{
background: #02020a;
    font-family: 'Abel', sans-serif;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.nav .wrapper {
    background-color: transparent;
    overflow: hidden;
    position: fixed;
    width: 100%;
}

.nav .wrapper a {
    float: left; 
    color : black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    margin : 10px; 
    
}


.nav .wrapper a:hover {
    color: black;
    transition: .5s;
}

.nav .wrapper .navbar-center a{
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color : #b497d6

    
}
.nav .wrapper .navbar-left {
    float: left;

}
.nav .wrapper .navbar-left {
    float: right;

}


   

.container-social-icon {
    background-color: white;
    opacity: 0.5;
    z-index: 1;
    width: 15vh;
    height: 7vh;
    position: fixed;
    margin-top: 90vh;
    margin-left: 4vh; 
    border-radius: 10px;
    
    
}
.container-social-icon .social-media-icon {
    text-align: center;
    margin-top: 15%;
    
}

.container-social-icon .social-media-icon i {
    padding: 0.5vh;
    opacity: 2;
    cursor:pointer;
    color: black;
    transition: .5s;
}
.container-social-icon .social-media-icon i:hover {
    padding: 0.5vh;
    opacity: 2;
    cursor:pointer;
    color:gray;
    transition: .5s;
}

