*
{
    margin: 0;
    padding: 0;
}

html
{
background: #02020a;
    font-family: 'Futura', sans-serif;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.nav .wrapper {
    background-color: transparent;
    overflow: hidden;
    position: fixed;
    width: 100%;
}

.nav .wrapper a {
    float: left; 
    color : white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    margin : 10px; 
    
}


.nav .wrapper a:hover {
    color: black;
    transition: .5s;
}

.nav .wrapper .navbar-center a{
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color : #b497d6

    
}
.nav .wrapper .navbar-left {
    float: left;

}
.nav .wrapper .navbar-left {
    float: right;

}


   

.container-social-icon {
    background-color: transparent;
    opacity: 0.5;
    width: 30vh;
    height: auto;
    position: fixed;
    margin-top: 90vh;
    margin-left: 4vh; 
    border-radius: 10px;
    
    
}
.container-social-icon .social-media-icon {
    text-align: center;
    align-items: center;
    
}

.container-social-icon .social-media-icon i {
    padding: 0.5vh;
    opacity: 2;
    cursor:pointer;
    color: white;
    transition: .5s;
    padding: 10px;
}
.container-social-icon .social-media-icon i:hover {
    padding: 0.5vh;
    opacity: 2;
    cursor:pointer;
    color:gray;
    transition: .5s;
}


.home-page-section{
   
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;

    
}

.home-page-section .text-presentation{
    width: 100%;
    
}

.home-page-section .text-presentation p {
    font-size: xx-large;

}

.home-page-section .text-presentation p:active {
    color: blue;

}
.home-page-section .text-presentation .multiText {
    color: #b497d6;
   
}
.home-page-section .text-presentation .text-presentation-wout-anim {
    color: white;
    
}

.work-page-section{
   /* background-color: blue; */
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;

}  


.work-page-section .container-work {
   overflow: hidden;
    width: 65%;
    height: 65vh;
    background-color: white;
    opacity: .9;
    border-radius: 10px;
    align-items: center;
    text-align: center;
}

